

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
</head>
<body>
    <header class="headerContainer" id="headerPage">
        <div class="topLeftContainer">
            <div class="itemContainer">
                <img class="itemIcon" src="{{url_for('static', filename='assets/user.png')}}">
                <input type="text" class="itemDisplay" id="usernameDisplay" value="{{name}}" disabled>
            </div>
            <div class="itemContainer">
                <img class="itemIcon" src="{{url_for('static', filename='assets/coin.png')}}">
                <input type="number" class="itemDisplay" id="coinsDisplay" value="{{coins}}" disabled>
            </div>
        </div>

        <div class="titleContainer">
            <h1 class="title">Lobi Sekolah</h1>
        </div>

        <div class="topRightContainer">
            <div class="itemContainer">
                <img class="itemIcon" src="{{url_for('static', filename='assets/ramuanHint.png')}}">
                <input type="number" class="itemDisplay" id="hintPotionDisplay" value="{{hintPotion}}" disabled>
            </div>
            <div class="itemContainer">
                <img class="itemIcon" src="{{url_for('static', filename='assets/ramuanTool.png')}}">
                <input type="number" class="itemDisplay" id="toolPotionDisplay" value="{{toolPotion}}" disabled>
            </div>
            <div class="itemContainer">
                <img class="itemIcon" src="{{url_for('static', filename='assets/ramuanNyawa.png')}}">
                <input type="number" class="itemDisplay" id="lifePotionDisplay" value="{{lifePotion}}" disabled>
            </div>
        </div>
    </header>

    <div class="mapContainer">
        <div class="mapGrid cornerGrid" id="grid11"></div>
        <div class="mapGrid leftGrid" id="grid12"></div>
        <div class="mapGrid leftGrid" id="grid13"></div>
        <div class="mapGrid leftGrid" id="grid14"></div>
        <div class="mapGrid leftGrid  doors interactiveObj" id="grid15"><img class="r5Icon" src="{{url_for('static', filename='assets/R5.png')}}"></div>
        <div class="mapGrid leftGrid" id="grid16"></div>
        <div class="mapGrid leftGrid" id="grid17"></div>
        <div class="mapGrid leftGrid" id="grid18"></div>
        <div class="mapGrid cornerGrid" id="grid19"></div>

        <div class="mapGrid topGrid" id="grid21"></div>
        <div class="mapGrid" id="grid22"><img class="avatar" id="avt22" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid23"><img class="avatar" id="avt23" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid mailBox interactiveObj" id="grid24"><img class="mailBoxIcon" src="{{url_for('static', filename='assets/mailbox.png')}}"></div>
        <div class="mapGrid" id="grid25"><img class="avatar" id="avt25" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid26"><img class="avatar" id="avt26" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid27"><img class="avatar" id="avt27" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid28"><img class="avatar" id="avt28" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid bottomGrid" id="grid29"></div>

        <div class="mapGrid topGrid doors interactiveObj" id="grid31"><img class="r124Icon" src="{{url_for('static', filename='assets/R1.png')}}"></div>
        <div class="mapGrid" id="grid32"><img class="avatar" id="avt32" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid33"><img class="avatar" id="avt33" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid34"><img class="avatar" id="avt34" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid35"><img class="avatar" id="avt35" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid36"><img class="avatar" id="avt36" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid37"><img class="avatar" id="avt37" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid38"><img class="avatar" id="avt38" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid bottomGrid" id="grid39"><img class="window" src="{{url_for('static', filename='assets/window.png')}}"></div>

        <div class="mapGrid topGrid" id="grid41"></div>
        <div class="mapGrid" id="grid42"><img class="avatar" id="avt42" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid43"><img class="avatar" id="avt43" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid44"><img class="avatar" id="avt44" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid45"><img class="avatar" id="avt45" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid46"><img class="avatar" id="avt46" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid47"><img class="avatar" id="avt47" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid48"><img class="avatar" id="avt48" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid bottomGrid" id="grid49"></div>

        <div class="mapGrid topGrid" id="grid51"></div>
        <div class="mapGrid" id="grid52"><img class="bookshelf" src="{{url_for('static', filename='assets/bookshelf1.png')}}"><img class="avatar" id="avt52" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid53"><img class="avatar" id="avt53" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid54"><img class="avatar" id="avt54" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid55"><img class="avatar" id="avt55" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid56"><img class="avatar" id="avt56" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid57"><img class="avatar" id="avt57" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid58"><img class="avatar" id="avt58" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid bottomGrid doors interactiveObj" id="grid59"><img class="r124Icon" src="{{url_for('static', filename='assets/R4.png')}}"></div>

        <div class="mapGrid topGrid" id="grid61"></div>
        <div class="mapGrid" id="grid62"><img class="avatar" id="avt62" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid63"><img class="avatar" id="avt63" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid64"><img class="avatar" id="avt64" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid65"><img class="avatar" id="avt65" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid66"><img class="avatar" id="avt66" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid67"><img class="avatar" id="avt67" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid68"><img class="avatar" id="avt68" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid bottomGrid" id="grid69"></div>

        <div class="mapGrid topGrid doors interactiveObj" id="grid71"><img class="r124Icon" src="{{url_for('static', filename='assets/R2.png')}}"></div>
        <div class="mapGrid" id="grid72"><img class="avatar" id="avt72" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid73"><img class="avatar" id="avt73" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid74"><img class="avatar" id="avt74" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid75"><img class="avatar" id="avt75" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid76"><img class="avatar" id="avt76" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid77"><img class="avatar" id="avt77" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid78"><img class="avatar" id="avt78" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid bottomGrid" id="grid79"><img class="window" src="{{url_for('static', filename='assets/window.png')}}"></div>
            
        <div class="mapGrid topGrid" id="grid81"></div>
        <div class="mapGrid" id="grid82"><img class="avatar" id="avt82" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid83"><img class="avatar" id="avt83" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid84"><img class="avatar" id="avt84" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid85"><img class="avatar" id="avt85" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid86"><img class="avatar" id="avt86" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid87"><img class="avatar" id="avt87" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid" id="grid88"><img class="avatar" id="avt88" style="display:none;" src="{{url_for('static', filename='assets/avatar.png')}}"></div>
        <div class="mapGrid bottomGrid" id="grid89"></div>
        
        <div class="mapGrid cornerGrid" id="grid91"></div>
        <div class="mapGrid rightGrid" id="grid92"></div>
        <div class="mapGrid rightGrid" id="grid93"></div>
        <div class="mapGrid rightGrid" id="grid94"></div>
        <div class="mapGrid rightGrid doors interactiveObj" id="grid95"><img class="r3Icon" src="{{url_for('static', filename='assets/R3.png')}}"></div>
        <div class="mapGrid rightGrid" id="grid96"></div>
        <div class="mapGrid rightGrid" id="grid97"></div>
        <div class="mapGrid rightGrid" id="grid98"></div>
        <div class="mapGrid cornerGrid" id="grid99"></div>
    </div>

    <div class="alertContainer" id="alertContainer1" style="display:none;">
        <p class="alertText" id="narratorText1"></p>
        <div class="alertButtonContainer">
            <button class="alertButton" id="alertNoButton">Tidak</button>
            <button class="alertButton" id="alertYesButton">Ya</button>
        </div>
    </div>

    <div class="alertContainer" id="alertContainer2" style="display:none;">
        <p class="alertText" id="narratorText2"></p>
        <div class="alertButtonContainer">
            <button class="alertButton" id="alertContinueButton">Oke</button>
        </div>
    </div>


    <form class="alertContainer" id="mailBoxContainer" style="display:none;" action="{{ url_for('homepage') }}" method="POST">
        <p class="alertText" id="mailBoxTitle"></p>
        <input type="text" name="title" class="mailText" id="mailTextTitle" placeholder="Judul" required>
        <input type="text" name="content" class="mailText" id="mailTextContent" placeholder="Konten" required>
        <div class="alertButtonContainer">
            <button class="alertButton" id="alertCancelButton">Batal</button>
            <button class="alertButton" id="alertViewMessageButton">Lihat Pesan</button>
            <input type="submit" class="alertButton" id="alertSendButton" value="Kirim" name="mailBox">
        </div>
    </form>

    <div class="alertContainer" id="messageContainer" style="display:none;">
        <p class="alertText">Pesan Terkirim</p>
        <pre class="alertText messageText" id="messageText"></pre>
        <div class="alertButtonContainer">
            <button class="alertButton" id="alertBackButton">Kembali</button>
        </div>
    </div>

    <script>
        const usernameDisplay = document.getElementById('usernameDisplay')

        const alertContainer1 = document.getElementById('alertContainer1')
        const narratorText1 = document.getElementById('narratorText1')
        const alertNoButton = document.getElementById('alertNoButton')
        const alertYesButton = document.getElementById('alertYesButton')

        const alertContainer2 = document.getElementById('alertContainer2')
        const narratorText2 = document.getElementById('narratorText2')
        const alertContinueButton = document.getElementById('alertContinueButton')

        const mailBoxContainer = document.getElementById('mailBoxContainer')
        const mailTextTitle = document.getElementById('mailTextTitle')
        const mailTextContent = document.getElementById('mailTextContent')
        const alertCancelButton = document.getElementById('alertCancelButton')
        const alertViewMessageButton = document.getElementById('alertViewMessageButton')
        const alertSendButton = document.getElementById('alertSendButton')
        const mailBoxTitle = document.getElementById('mailBoxTitle')

        const messageContainer = document.getElementById('messageContainer')
        const messageText = document.getElementById('messageText')
        const alertBackButton = document.getElementById('alertBackButton')

        const mail_messages = {{ mail_messages | tojson }};

        let numMessages = mail_messages.length;
        chat = '';
        for (let indexMessage = 0; indexMessage < numMessages; indexMessage++){
            chat += `Pengirim: ${mail_messages[indexMessage][1]}\n${mail_messages[indexMessage][2]}\n${mail_messages[indexMessage][3]}\n${mail_messages[indexMessage][4]}\n\n`;
        }
        messageText.textContent = chat;

        function avt(a,b){
            return document.getElementById(`avt${a}${b}`);
        }

        function alert1(text,link){
            alerted = true;
            alertContainer1.style.display='flex';
            narratorText1.textContent = text;

            alertNoButton.onclick = function(){
                alertContainer1.style.display='none';
                alerted = false;
            }
            alertYesButton.onclick = function(){
                window.location.href = link
            }
        }

        function alert2(text){
            alerted = true
            alertContainer2.style.display='flex';
            narratorText2.textContent = text;

            alertContinueButton.onclick = function(){
                alertContainer2.style.display='none';
                alerted = false;
            }
        }

        function mailBox(){
            alerted = true
            mailBoxContainer.style.display='flex';

            alertCancelButton.onclick = function(){
                mailTextTitle.value = '';
                mailTextContent.value = '';
                mailBoxContainer.style.display='none';
                alerted = false;
            }
            alertViewMessageButton.onclick = function(){
                mailTextTitle.value = '';
                mailTextContent.value = '';
                mailBoxContainer.style.display='none';

                messageContainer.style.display='flex';

                alertBackButton.onclick = function(){
                    messageContainer.style.display='none';
                    mailBox();
                }
            }
        }

        let username = usernameDisplay.value;
        if (username == 'kepsek'){
            mailBoxTitle.textContent = 'Pesan untuk siswa'
        } else{
            mailBoxTitle.textContent = 'Pesan untuk kepsek'
        }

        let alerted = false;
        let position_x = 5;
        let position_y = 5;
        avt(position_x,position_y).style.display='block';

        document.onkeydown = checkKey;

        function checkKey(e) {

            e = e || window.event;

            if (e.keyCode == '38' && !(alerted)) {
                // up arrow
                if (position_x == 5 && position_y == 3){

                } else if (position_x == 2 && position_y == 5){
                    mailBox();
                } else if (position_x == 3 && position_y == 2){
                    alert2('Kelas Al Jabar sedang dalam renovasi')
                } else if (position_x == 7 && position_y == 2){
                    alert1('Masuk Kelas Geometri?','geometryclass')
                } else if (position_y != 2){
                    avt(position_x,position_y).style.display='none';
                    position_y -= 1;
                    avt(position_x,position_y).style.display='block';
                }

            } else if (e.keyCode == '40' && !(alerted)) {
                // down arrow
                if (position_x == 2 && position_y == 3){
                    mailBox();
                } else if (position_x == 5 && position_y == 8){
                    alert1('Keluar?','../');
                } else if (position_y != 8){
                    avt(position_x,position_y).style.display='none';
                    position_y += 1;
                    avt(position_x,position_y).style.display='block';
                }

            } else if (e.keyCode == '37' && !(alerted)) {
                // left arrow
                if (position_x == 6 && position_y == 2){

                } else if (position_x == 3 && position_y == 4){
                    mailBox();
                } else if (position_x == 2 && position_y == 5){
                    if (username == 'kepsek'){
                        alert1('Masuk Ruang Kepsek?','principalroom')
                    } else {
                        alert2('Hanya Kepala Sekolah yang boleh masuk')
                    }
                } else if (position_x != 2){
                    avt(position_x,position_y).style.display='none';
                    position_x -= 1;
                    avt(position_x,position_y).style.display='block';
                }

            }
            if (position_x == 4 && position_y == 2){

            } else if (e.keyCode == '39' && !(alerted)){
                // right arrow
                if (position_x == 8 && position_y == 5){
                    alert1('Masuk Kantin?','cafetaria')
                } else if (position_x != 8){
                    avt(position_x,position_y).style.display='none';
                    position_x += 1;
                    avt(position_x,position_y).style.display='block';
                }
            }
        }
    </script>
</body>
</html>